*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.main
{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1732624697703-c5b0d3110cb4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
.back h3{
    font-size: 60px;
    color:#F5F5F5;
    padding-left: 150px;
    padding-top: 250px;
    font-family: speed;

}
.back button
{
    height: 45px;
    width: 250px;
    margin-left: 350px;
    margin-top: 10px;
    font-size: 1.2em;
    background-color:#6ec8cd3b ;
    border-radius: 20px;
    font-family: speed;
    color: aliceblue;
}
@font-face {
    font-family: speed;
    src: url(./Race\ Sport.ttf);
}